<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<title>Edit user</title>
<h1>Edit user</h1>
<form th:action="@{/admin/users}" method="get">
  <input type="submit" value="Users"/>
</form>
<br/>
<form th:method="post" th:action="@{/admin/edit}"
  th:object="${user}">
  <table>
    <tr>
        <td>ID</td>
      <td>
        <label for="id"></label>
        <input type="text" readonly th:field="*{id}" id="id">
      </td>
    </tr>
    <tr>
      <td>Role</td>
      <td><label>
        <input type="checkbox" name="role"
               th:each="role : ${allRoles}"
               th:text="${role.name}"
               th:value="${role.name}"
        /></label>
      </td>
    </tr>
    <tr>
      <td>Login</td>
      <td>
        <label for="login"></label>
        <input type="text" readonly th:field="*{login}" id="login">
      </td>
    </tr>
    <tr>
      <td>Password</td>
      <td>
        <label for="password"></label>
          <input type="text" th:field="*{password}" id="password">
      </td>
    </tr>
    <tr>
      <td>Name</td>
      <td>
        <label for="name"></label>
        <input type="text" th:field="*{firstName}" id="name">
      </td>
    </tr>
    <tr>
    <td>Last name</td>
      <td>
        <label for="lastName"></label>
        <input type="text" th:field="*{lastName}" id="lastName">
      </td>
    </tr>
    <tr>
      <td>Age</td>
      <td>
        <label for="age"></label>
        <input type="text" th:field="*{age}" id="age">
      </td>
    </tr>
  </table>
  <input type="submit" value="edit">
</form>
<br><br>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Logout"/>
</form>
</html>